# Virtual environments
.venv/
venv/

# Data exports
data/**/*.csv
data/**/*.xlsx
!data/.gitkeep

# IDE
.idea/

# Python
__pycache__/
**/__pycache__/
*.pyc

# Temporary files and local binaries
*.tmp
*.jar
